[submodule "plugins/prompt-engineering-skills"]
	path = plugins/prompt-engineering-skills
	url = https://github.com/treylom/prompt-engineering-skills.git
[submodule "plugins/knowledge-manager"]
	path = plugins/knowledge-manager
	url = https://github.com/treylom/knowledge-manager.git
[submodule "plugins/tofu-at"]
	path = plugins/tofu-at
	url = https://github.com/treylom/tofu-at.git
[submodule "plugins/skills-2.0-upgrade"]
	path = plugins/skills-2.0-upgrade
	url = https://github.com/treylom/skills-2.0-upgrade.git
[submodule "plugins/qwen3-tts-claude-skill"]
	path = plugins/qwen3-tts-claude-skill
	url = https://github.com/treylom/qwen3-tts-claude-skill.git
[submodule "plugins/writing-assistant"]
	path = plugins/writing-assistant
	url = https://github.com/treylom/writing-assistant.git
[submodule "plugins/lesson-skill"]
	path = plugins/lesson-skill
	url = https://github.com/treylom/lesson-skill.git
[submodule "plugins/lesson-a"]
	path = plugins/lesson-a
	url = https://github.com/treylom/lesson-a
